# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/venv
/__pycache__
.gitignore
.env
env.sh
env.bat
translateapi.json


# testing


# production
README.md



